<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>pageobject.hometest.HomePageTestSuit</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>logOutV1</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>logOutV3</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>logOutV2</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>logOutV5</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>logOutV4</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>logOutV6</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
