<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>PageObjectExampleTest</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9b8d87">  <td>16/05/30 20:30:59</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTestSuit.logOutV1()[pri:0, instance:pageobject.hometest.HomePageTestSuit@2b80d80f]">logOutV1</td> 
  <td>main@1854778591</td>   <td></td> </tr>
<tr bgcolor="9b8d87">  <td>16/05/30 20:31:06</td>   <td>6927</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTestSuit.logOutV2()[pri:0, instance:pageobject.hometest.HomePageTestSuit@2b80d80f]">logOutV2</td> 
  <td>main@1854778591</td>   <td></td> </tr>
<tr bgcolor="9b8d87">  <td>16/05/30 20:31:06</td>   <td>6935</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTestSuit.logOutV3()[pri:0, instance:pageobject.hometest.HomePageTestSuit@2b80d80f]">logOutV3</td> 
  <td>main@1854778591</td>   <td></td> </tr>
<tr bgcolor="9b8d87">  <td>16/05/30 20:31:06</td>   <td>6942</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTestSuit.logOutV4()[pri:0, instance:pageobject.hometest.HomePageTestSuit@2b80d80f]">logOutV4</td> 
  <td>main@1854778591</td>   <td></td> </tr>
<tr bgcolor="9b8d87">  <td>16/05/30 20:31:06</td>   <td>6947</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTestSuit.logOutV5()[pri:0, instance:pageobject.hometest.HomePageTestSuit@2b80d80f]">logOutV5</td> 
  <td>main@1854778591</td>   <td></td> </tr>
<tr bgcolor="9b8d87">  <td>16/05/30 20:31:06</td>   <td>6954</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTestSuit.logOutV6()[pri:0, instance:pageobject.hometest.HomePageTestSuit@2b80d80f]">logOutV6</td> 
  <td>main@1854778591</td>   <td></td> </tr>
<tr bgcolor="6481f5">  <td>16/05/30 20:30:52</td>   <td>-6725</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setup(java.lang.String)[pri:0, instance:pageobject.hometest.HomePageTestSuit@2b80d80f]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1854778591</td>   <td></td> </tr>
<tr bgcolor="6481f5">  <td>16/05/30 20:31:04</td>   <td>5494</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:pageobject.hometest.HomePageTestSuit@2b80d80f]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1854778591</td>   <td></td> </tr>
</table>
